AGENTIC_REASONING_GENERATE_STEPS="AGENTIC_REASONING_GENERATE_STEPS Flow ID"
AGENTIC_REASONING_SEARCH_WEB="AGENTIC_REASONING_SEARCH_WEB Flow ID"
AGENTIC_REASONING_DATA_SOURCE="AGENTIC_REASONING_DATA_SOURCE Flow ID"
AGENTIC_REASONING_FINAL="AGENTIC_REASONING_FINAL Flow ID"
LAMATIC_API_URL="LAMATIC_API_URL"
LAMATIC_PROJECT_ID="LAMATIC_PROJECT_ID"
LAMATIC_API_KEY="LAMATIC_API_KEY"