EMBEDDED_SEARCH_PDF_INDEXATION="EMBEDDED_SEARCH_PDF_INDEXATION Flow ID"
EMBEDDED_SEARCH_WEBSITES_INDEXATION="EMBEDDED_SEARCH_WEBSITES_INDEXATION Flow ID"
EMBEDDED_SEARCH_RESOURCE_DELETION="EMBEDDED_SEARCH_RESOURCE_DELETION Flow ID"
EMBEDDED_SEARCH_SEARCH="EMBEDDED_SEARCH_SEARCH Flow ID"
LAMATIC_API_URL="LAMATIC_API_URL"
LAMATIC_PROJECT_ID="LAMATIC_PROJECT_ID"
LAMATIC_API_KEY="LAMATIC_API_KEY"
BLOB_READ_WRITE_TOKEN="your blob token"